.App {
  
  margin: auto;
}

#fondo{
  background-color: black;
  
}

#quote-box {
  text-align: center;
  border: solid black 1px;
  border-radius: 3px;
  margin: auto;
  max-width: 50vw;
  padding-top: 1vh;
  margin-top: 20vh;
  
  background-color: white;
}

#tweet-quote{
  
  color: white;
  float: left;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 3vw;
    margin-bottom: 2vh;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    font-family:cursive;
}

#author{
  display: flex;
  justify-content: right;
  padding-right: 3vw;
}
div {
    display: block;
}

#low-section{
  display: flex;
  align-content:space-between;
  padding: 1vw;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#new-quote {
    
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #111111;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    opacity: 1;
    cursor: pointer;
    display: flex;
    MARGIN-right: 4VW;
}
